:root {
  /*
  cerah
  cerah mid
  gelap mid
  gelap 
   */

  --color-1: #fffbda;
  --color-2: #ffec9e;
  --color-3: #ffbb70;
  --color-4: #ed9455;
}

/* Small screen */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
  color: var(--color-2);
}

.navbar {
  display: flex;
  margin: 0;
  flex-direction: row;
  background-color: var(--color-2);
  height: 4rem;
  color: var(--color-4);
  font-size: 2rem;
  border: 1px solid red;
  align-items: center;
}

.navbar .image-logo {
  border: 1px solid red;
  width: auto;
  height: 100%;
}

/* medium (min-width: 768px dan max-width: 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* large+ (lebih dari 1024px) */
@media only screen and (min-width: 1025px) {
}
