:root {
  /*
  cerah
  cerah mid
  gelap mid
  gelap 
   */

  --color-1: #fffbda;
  --color-2: #ffec9e;
  --color-3: #ffbb70;
  --color-4: #ed9455;
}

::placeholder {
  opacity: 0.6;
}

/* Small screen */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
  color: var(--color-2);
}

.container {
  margin: 0;
}

.navbar-container {
  width: 100%;
  background-color: var(--color-2);
}

.navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4rem;
  margin: 0;
  color: var(--color-4);
  font-size: 2rem;
  align-items: center;
  padding: 1rem 0.5rem;
}

.navbar .logo {
  width: 100%;
  height: 100%;
}

.navbar .image-logo {
  width: auto;
  height: 100%;
}

/* HOME - first section */
.home-container {
  background-color: var(--color-2);
  margin: 0;
  color: var(--color-4);
}

.home-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.home-first h1 {
  margin: 0;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 400;
}

.home-first h1 span {
  font-weight: 700;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-1);
  width: 20rem;
  margin-top: 1rem;
}

.search-input {
  border: none;
  background-color: var(--color-1);
  flex-grow: 1;
  height: 2rem;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  font-weight: 400;
  color: var(--color-4);
}

.search-button {
  width: 4rem;
  height: 2rem;
  border: none;
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 1.2rem;
}

.search-button:hover {
  cursor: pointer;
}

.search-input:focus {
  outline: none;
}

.description-container {
  width: 20rem;
  font-size: 1.2rem;
  text-align: center;
  text-align-last: center;
  line-height: 1.6rem;
}

/* medium (min-width: 768px dan max-width: 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .body {
    font-size: 24px;
  }

  .navbar {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* large+ (lebih dari 1024px) */
@media only screen and (min-width: 1025px) {
  .navbar {
    max-width: 900px;
    margin: 0 auto;
  }
}
